*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, *{
    scroll-behavior: smooth;
}

main{
    width: 100%;
}

.head{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
 nav{
    width: 100%;
    height: 50px;
    background-color: #be3144;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

nav a{
    text-decoration: none;
    color: white;
    height: 100%;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a:hover{
    background-color: #45567d;
}

.sectiona{
    width: 100%;
    height: 100vh;
    background-color: #343639;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

.fit{
    color: white;
    font-size: 3.8rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.web{
    color: #be3144;
    font-size: 2.5rem;
    font-style: italic;
    text-align: center;
    bottom: 20rem;
    font-weight: 300;
}

#work{
    width: 100%;
    height: 180vh;
    background-color: #45567d;
}

.project{
    text-align: center;
    font-size: 2.69rem;
    color: white;
    padding-top: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    
}

.project-line{
    border-bottom: 0.13rem solid white;
    margin: 1rem 23rem;
    
}

.work-tile img{
    width: 29rem;
    height: 30rem;
    }

.work-tile{
    width: 90%;
    margin: 3rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

figcaption{
    display: flex;
    width: 29rem;
    height: 5rem;
    background-color: #343639;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    margin-top: -0.5rem;
    font-size: larger;
    font-weight: 400;
}
.show{
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-left: 47rem;
    height: 3rem;
    width: 9rem;
    background-color: #343639;
    text-align: center;
    color: white;
    font-size: larger;
    font-weight: 400;
}

#contact{
    width: 100%;
    height: 93vh;
    background-color: #303841;
}

.contact-info{
    text-align: center;
    padding-top: 17rem;
    color: white;
}

.contact-info p{
    font-style: italic;
    font-size: 1.8rem;
    font-weight: 100;
}

.contact-info h2{
    font-size: 4.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    margin-bottom: 0.1rem;
}

.social{
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 3rem;
    font-size: 2rem;
    gap: 1.5rem;
    cursor: pointer;
    transition: all 0.4 linear;
}


.contact-line{
    border-bottom: 0.30rem solid #be3144;
    margin-top: 13.3rem;
}

.outro{
    color: white;
    padding: 2rem 0 0 15rem;
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}

footer{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-right: 11rem;
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    margin-top: -1.5rem;
}

@media (max-width:640px){
    :root {
        font-size: 10px;
       }

       nav{
        width: 32rem;
        height: 2rem;
       }

       nav a{
        width: 2.5rem;
        gap: 1.5rem;
        font-size: 0.5rem;
       }

       .fit{
        font-size: 1.5rem;
       }

       .web{
        font-size: 1rem;
       }

       .project{
        font-size: 1rem;
        padding-top: 3rem;
       }
       
       .project-line{
        width: 22rem;
        margin-left: 5rem;
        margin-top: 0.2rem;
       }

       #work{
        height: 112vh;
       }

       .work-tile{
        margin-top: 1.5rem;
       }

       .work-tile img{
        width: 12rem;
        height: 10rem;
       }

       .show{
        margin: -1.5rem auto;
        height: 1.5rem;
        width: 5rem;
        font-size: 0.6rem;
       }

       .show img{
        width: 1rem;
        height: 1rem;
       }
       
       figcaption{
        width: 12rem;
        height: 3rem;
        font-size: 0.5rem;
       }

       #contact{
        height: 42rem;
       }

       .contact-info h2{
        font-size: 2rem;
       }
       .contact-info p{
        font-size: 0.7rem;
       }

       .social{
        font-size: 0.5rem;
        padding-top: 1.5rem;
       }

       .social img{
        height: 1rem;
        width: 1rem;
       }

       .contact-line{
        margin-top: 16rem;
       }

       .outro{
        font-size: 0.5rem;
        padding-left: 2rem;
        padding-top: 1rem;
       }

       footer{
        font-size: 0.5rem;
        padding-right: 2rem;
        padding-top: 1rem;
       } 
    }       